body
{
    background-color: #0A090A;
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
    background-size: 100%;
}
.container
{
    max-width: 1140px;
    margin: auto;
}
.header
{
    padding-top: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 34%;
}
.logo
{
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 28px;
}
.search
{
    display: flex;
    align-items: center;
    flex: 0.8;
}
.search-input
{
    flex: 1;
    background-color: rgba(196, 196, 196, 0.5);
    border-radius: 5px;
    padding-top:  12px;
    padding-bottom: 12px;
    padding-left: 18px;
    padding-right: 18px;
    border: none;
    color: #aeaeae;
    font-size: 14px;
    line-height: 16px;  
}
.search-button
{
    background-color: transparent;
    border: none;
    padding: 10px    18px;
}
.user
{
    display: flex;
    align-items: center;
}
.avatar
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.title
{
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 8px;

}
.title-en
{
    display: inline-block;
    font-size: 20px;
    line-height: 23px;
    color: #787878;
    margin-bottom: 40px;
}
.info
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 108px;

}
.course-info
{
    display: flex;
    align-items: center;

}
.tag
{
    display: inline-block;
    font-size: 16px;
    line-height: 19px;
    color: #333333;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px 10px;
    margin-right: 20px;
}

.year
{
    font-size: 16px;
    line-height: 19px;
    margin-right: 33px;
}
.my-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .link-to
  {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
  }

.more
{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;

}
.more:after
{
    content: '';
    width: 30px;
    height: 30px;
    background-image: url(../imgs/down.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin-left: 15px;

}
.content
{
    background: #fff;
    border-radius: 4px;
    color: #000;
    padding: 43px 50px;
    display: flex;
    justify-content: space-between;

}
.themes-title
{
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #000000;
    margin-bottom: 10px;
}
.themes-list
{
    margin: 0;
    list-style: none;
    padding-left: 15px;
    text-decoration: underline;
    line-height: 150%;
}
.tab-item
{
    margin-right: 30px;
    color: #000;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 18px;
    line-height: 21px;
}
.tab-item-active
{
    color:rgb(209, 24, 24);
    
}
.full-info
{
    flex: 0.97;
    margin-left: 2%;
}
.tabs-content
{  
    margin-right: 70px;
}
.text
{
    font-size: 16px;
    line-height: 140%;
}
.tabs{
    margin-bottom: 40px;
}
.short-info
{
    margin-top: 0;
    margin-right: 0.5%;
}
@media (max-width: 1200px)
{
    .container
    {
        max-width: 960px;

    }
    .tabs{
        display: flex;
        margin-bottom: 20px;
    }
    .tab-item
    {
        font-size: 16px;

    }
}
@media (max-width: 992px)
{
    .container
    {
        max-width: 768px;
    }
    .tabs
    {
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    .tab-item
    {
        line-height: 2;
    }
    #text-header
    {
    font-size: 16px;
    }
    #text-title
    {
        font-size: 16px;
    }
    .text
    {
        font-size: 16px;
    }
}
